<div class="container-fluid m-content">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="panel m-panel">
          <div class="panel-heading m-panel-head groups">
            <span ng-repeat="group in manager.groups">
              <button class="btn btn-primary btn-xs m-button-black" ng-click="manager.choiceGroup(group)">{{group}}</button>
            </span>
            <button class="btn btn-primary btn-xs" ng-click="manager.choiceGroup()">All</button>
          </div>
          {{manager.filter}}
          <div class="panel-body m-panel-body users">
            <span class="user inline-block" ng-repeat="user in manager.users | filter:manager.filter">
              <button class="btn btn-primary btn-sm m-button-gray" ng-click="manager.choiceUser(user.uid)">{{user.firstName + " " + user.lastName}}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="btn-group">
          <label class="btn m-button-gray" ng-class="{'m-button-black': manager.statusFilter.status == 'inprogress'}" ng-click="manager.choiceButtonFilter('inprogress')">In progress</label>
          <label class="btn m-button-gray" ng-class="{'m-button-black': manager.statusFilter.status == 'confirmed'}" ng-click="manager.choiceButtonFilter('confirmed')">Confirmed</label>
          <label class="btn m-button-gray" ng-class="{'m-button-black': manager.statusFilter.status == 'rejected'}" ng-click="manager.choiceButtonFilter('rejected')">Rejected</label>
          <label class="btn m-button-gray" ng-class="{'m-button-black': !manager.statusFilter.status}" ng-click="manager.choiceButtonFilter()">All</label>
      </div>
      <hr>
      <div class="row">
        <div class="vacations" ng-repeat="user in manager.users | filter:manager.filter">
          <div class="col-md-4" ng-repeat="item in user.vacations.list | filter:manager.statusFilter">
            <div class="panel m-panel">
              <div class="panel-heading m-panel-head">{{user.firstName + " " + user.lastName}}</div>
              <div class="panel-body m-panel-body">
                <div class="vacation-data well">
                  <span>from {{item.startDate | date:'dd-MM-yyyy'}}</span>
                  <span>to {{item.endDate | date:'dd-MM-yyyy'}}</span>
                </div>
                <div class="buttons-wrapper">
                  <button ng-disabled="item.status!='inprogress'" class="btn btn-primary col-md-offset-2" ng-click="manager.confirmVacation(user, item.id)">Confirm</button>
                  <button ng-disabled="item.status=='rejected'" class="btn btn-danger col-md-offset-2" ng-click="manager.rejectVacation(user, item.id)">Reject</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>