.datepicker {
	display: block;
}
.datepicker__input::-webkit-calendar-picker-indicator,
.datepicker__input::-webkit-inner-spin-button {
    display: none;
}
.datepicker__btn {
	height: 34px;
	border-radius: 0 4px 4px 0;
	margin-top: 0;
}
.dropdown-menu table {
	outline: none;
}
