<div class="user-page__wrapper">
  <div class="row">

    <div class="col-sm-4 col-md-4">
      <div class="panel-group">

        <accordion>
          <accordion-group is-open="isCollapsed" class="panel panel-warning">
            <accordion-heading ng-click="isCollapsed = !isCollapsed">
              <div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span>Vacation Requests</span>
              </div>
            </accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">№</th>
                  <th class="col-md-5 text-center">Start vacation</th>
                  <th class="col-md-5 text-center">End vacation</th>
                  <th class="col-md-1 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in userCtrl.user.vacations.list | userFilterVacation:'requests'">
                  <td class="col-md-1 text-center">{{$index+1}}</td>
                  <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-1 text-center"><a class="btn btn-danger btn-xs" ng-click="userCtrl.deleteVacation(item)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>

        <accordion>
          <accordion-group is-open="isCollapsed" class="panel panel-danger">
            <accordion-heading ng-click="isCollapsed = !isCollapsed">
              <div>
                <span class="glyphicon glyphicon-remove"></span>
                <span>Rejected Vacations</span>
              </div>
            </accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">№</th>
                  <th class="col-md-5 text-center">Start vacation</th>
                  <th class="col-md-5 text-center">End vacation</th>
                  <th class="col-md-1 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in userCtrl.user.vacations.list | userFilterVacation:'rejected'">
                  <td class="col-md-1 text-center">{{$index+1}}</td>
                  <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-1 text-center"><a class="btn btn-danger btn-xs" ng-click="userCtrl.deleteVacation(item)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>

        <accordion>
          <accordion-group is-open="isCollapsed" class="panel panel-success">
            <accordion-heading ng-click="isCollapsed = !isCollapsed">
              <div>
                <span class="glyphicon glyphicon-ok"></span>
                <span>Approved Vacation</span>
              </div>
            </accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">№</th>
                  <th class="col-md-5 text-center">Start vacation</th>
                  <th class="col-md-5 text-center">End vacation</th>
                  <th class="col-md-1 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in userCtrl.user.vacations.list | userFilterVacation:'approved'">
                  <td class="col-md-1 text-center">{{$index+1}}</td>
                  <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-1 text-center"><a class="btn btn-danger btn-xs" ng-click="userCtrl.deleteVacation(item)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>

        <accordion>
          <accordion-group is-open="isCollapsed" class="panel panel-primary">
            <accordion-heading ng-click="isCollapsed = !isCollapsed">
              <div>
                <span class="glyphicon glyphicon-lock"></span>
                <span class="text-center">Spent Vacations</span>
              </div>
            </accordion-heading>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1 text-center">№</th>
                  <th class="col-md-5 text-center">Start vacation</th>
                  <th class="col-md-5 text-center">End vacation</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in userCtrl.user.vacations.list | userFilterVacation:'spent'">
                  <td class="col-md-1 text-center">{{$index+1}}</td>
                  <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                  <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </accordion-group>
        </accordion>

      </div>
    </div>

    <div class="col-sm-8 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dashboard</h3>
        </div>
        <div class="panel-body">
          <div class="user-wrapper">
            <div class="container user  col-md-10 col-md-offset-1">
              <form name="userForm" role="form" class="user-form col-md-12" novalidate ng-submit='userCtrl.submitHandler(userForm.startDate.$viewValue, userForm.endDate.$viewValue)'>
                <legend class="user-form__title">Заявка на отпуск</legend>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="">Дата начала отпуска</label>
                    <vac-datepicker class="datepicker"
                    name="startDate"
                    ng-model="startDate"
                    min-date="minStartDate"
                    >
                    </vac-datepicker>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Дата окончания отпуска</label>
                    <vac-datepicker class="datepicker"
                    name="endDate"
                    ng-model="endDate"
                    min-date="minEndDate"
                    >
                    </vac-datepicker>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="chosen">Выбрано дней</label>
                    <input type="text" id="chosen" class="form-control user__total-days" disabled
                    ng-value="userCtrl.calcDays()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="available">Доступно дней отпуска</label>
                    <input type="text" id="available" class="form-control user__left-days" disabled
                    ng-value="userCtrl.user.vacations.total || 0">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="dayoff">Доступно dayoff</label>
                    <input type="text" id="dayoff" class="form-control user__left-days" disabled
                    ng-value="userCtrl.user.vacations.dayOff || 0">
                  </div>
                </div>
                <button type="submit" class="btn user-form__btn">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>