<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div class="panel-group">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <accordion>
                  <accordion-group is-open="isCollapsed" class="panel panel-danger">
                    <accordion-heading ng-click="isCollapsed = !isCollapsed">
                      <div>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span>Vacation Requests</span>
                      </div>
                    </accordion-heading>
                    <div class="container vacations-list">
                      <div class="row col-md-4">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="col-md-1 text-center">№</th>
                              <th class="col-md-5 text-center">Start vacation</th>
                              <th class="col-md-5 text-center">End vacation</th>
                              <th class="col-md-1 text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in user.data.vacations.list | userFilterVacation:'requests'">
                              <td class="col-md-1 text-center">{{$index+1}}</td>
                              <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                              <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                              <td class="col-md-1 text-center"><a class="btn btn-danger btn-xs" ng-click="user.deleteVacation(item)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </accordion-group>
                </accordion>
              </h4>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <accordion>
                  <accordion-group is-open="isCollapsed" class="panel panel-success">
                    <accordion-heading ng-click="isCollapsed = !isCollapsed">
                      <div>
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>Approved Vacation</span>
                      </div>
                    </accordion-heading>
                      <div class="container vacations-list">
                        <div class="row col-md-4">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th class="col-md-1 text-center">№</th>
                                <th class="col-md-5 text-center">Start vacation</th>
                                <th class="col-md-5 text-center">End vacation</th>
                                <th class="col-md-1 text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in user.data.vacations.list | userFilterVacation:'approved'">
                                <td class="col-md-1 text-center">{{$index+1}}</td>
                                <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                                <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                                <td class="col-md-1 text-center"><a class="btn btn-danger btn-xs" ng-click="user.deleteVacation(item)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </accordion-group>
                  </accordion>
                </h4>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <accordion>
                    <accordion-group is-open="isCollapsed" class="panel panel-primary">
                      <accordion-heading ng-click="isCollapsed = !isCollapsed">
                        <div>
                          <span class="glyphicon glyphicon-lock"></span>
                          <span class="text-center">Spent Vacations</span>
                        </div>
                      </accordion-heading>
                      <div class="container vacations-list">
                        <div class="row col-md-4">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th class="col-md-1 text-center">№</th>
                                <th class="col-md-5 text-center">Start vacation</th>
                                <th class="col-md-5 text-center">End vacation</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in user.data.vacations.list | userFilterVacation:'spent'">
                                <td class="col-md-1 text-center">{{$index+1}}</td>
                                <td class="col-md-5 text-center">{{item.startDate | date:'dd-MM-yyyy'}}</td>
                                <td class="col-md-5 text-center">{{item.endDate | date:'dd-MM-yyyy'}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </accordion-group>
                  </accordion>
                </h4>
              </div>
            </div>

          </div>
        </div>

      <div class="col-sm-7 col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
          </div>
          <div class="panel-body">
            <button type="button" class="btn btn-primary btn-block" ng-click="user.openNewUserForm()">Add User</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>